Source: git-commit-helper
Section: devel
Priority: optional
Maintainer: zccrs <zccrs@live.com>
Build-Depends: debhelper-compat (= 13), cargo, rustc
Standards-Version: 4.5.1

Package: git-commit-helper
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, git
Description: Git commit message helper tool
 A command line tool to help standardize git commit messages.
