#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	cargo build --release

override_dh_auto_install:
	dh_auto_install
	install -Dm755 target/release/git-commit-helper debian/git-commit-helper/usr/bin/git-commit-helper
	install -Dm644 completions/git-commit-helper.bash debian/git-commit-helper/usr/share/bash-completion/completions/git-commit-helper
	install -Dm644 completions/git-commit-helper.zsh debian/git-commit-helper/usr/share/zsh/site-functions/_git-commit-helper